/Makefile.in
/UTF-8-demo.txt
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/mvtm
/mvtm-editor
/install-sh
/ltmain.sh
/missing
/mvtm.1
/mvtm-editor.1
/mvtm.log
/testsuite.sh.log
